/* var for colors */
:root {
  --dark-orange: rgb(195, 106, 8);
  --light-orange: rgb(250, 172, 32);
}
/* width and height */
.w-h-4 {
  width: 4px;
  height: 4px;
}
.w-h-6 {
  width: 6px;
  height: 6px;
}
.w-h-8 {
  width: 8px;
  height: 8px;
}
.w-h-16 {
  width: 16px;
  height: 16px;
}
.w-h-24 {
  width: 24px;
  height: 24px;
}
.w-h-32 {
  width: 32px;
  height: 32px;
}
.w-h-36 {
  width: 36px;
  height: 36px;
}
.w-h-40 {
  width: 40px;
  height: 40px;
}
.w-h-44 {
  width: 44px;
  height: 44px;
}
.w-h-48 {
  width: 48px;
  height: 48px;
}
.w-h-46 {
  width: 46px;
  height: 46px;
}
.w-h-64 {
  width: 64px;
  height: 64px;
}
.w-h-96 {
  width: 96px;
  height: 96px;
}
/* other sizes */
.w-6-h-32{
  width: 6px;
  height: 32px;
}
.w-32-h-2{
  width: 32px;
  height: 2px;
}

/*max width*/
.w-672{
max-width: 672px;
}
.w-350{
max-width: 350px ;
}
.w-768{
  max-width: 768px;
}
.w-896{
  max-width: 896px;
}
.w-fit{
    width: fit-content;
}
.h-fit{
   height: fit-content;
}
/* font size not include in bootstrap */
.fs-10 {
  font-size: 10px;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 1.125rem;
}
.fs-20 {
  font-size: 1.25rem;
}
.fs-30 {
  font-size: 1.875rem;
}
.fs-36 {
  font-size: 2.25rem;
}
.fs-60 {
  font-size: 3.75rem;
}

/* font colors */
.text-orange{
color: var(--light-orange);
}
.text-dark-orange {
  color: var(--dark-orange);
}
.text-light-orange {
  color: var(--light-orange);
}
/* padding on all directions  */
.p-6 {
  padding: 6px;
}
.p-12 {
  padding: 12px;
}
.p-32 {
  padding: 32px;
}
.p-40 {
  padding: 40px;
}
.p-64 {
  padding: 64px;
}
/*padding on y direction*/
.py-6 {
  padding-block: 6px;
}
.py-10 {
  padding-block: 10px;
}
.py-12 {
  padding-block: 12px;
}
.py-16 {
  padding-block: 16px;
}
.py-64 {
  padding-block: 64px;
}
.py-80 {
  padding-block: 80px;
}
/*padding on x direction*/
.px-12 {
  padding-inline: 12px;
}
.px-20 {
  padding-inline: 20px;
}
.px-32 {
  padding-inline: 32px;
}
/*pading from bottom*/
.pb-20{
  padding-bottom: 20px;

}
/*margin from bottom*/
.mb-12{
    margin-bottom:12px;
}
.mb-20{
    margin-bottom:20px;
}
.mb-32{
    margin-bottom: 2rem;
}
.mb-40{
    margin-bottom: 2.5rem;
}
.mb-64{
    margin-bottom: 4rem;
}
/* background color */
.bg-orange {
  background-color: rgb(255, 105, 0);
}
.bg-dark-orange {
  background-color: var(--dark-orange);
}
.bg-light-black{
  background-color: rgb(22, 22, 22);
}
.bg-medium-black{
  background-color: rgb(38, 38, 38);
}
.bg-light-orange{
  background-color: rgb(46, 30, 20);
}
/*background color linergradient*/
.bg-LG-Btn {
  background: linear-gradient(90deg, rgb(247, 111, 21), rgb(237, 92, 14));
}
.bg-gradient-orange-1{
  background-image: linear-gradient(var(--dark-orange),var(--light-orange));
}
.bg-gradient-orange-2{
  background-image: linear-gradient(var(--light-orange), var(--dark-orange));
}
/*border size*/
.border-1px{
  border: 1px solid ;
}
/*borders colors*/
.border-orange{
    border-color: var(--dark-orange) !important;
}
/*transitions  */
.ts-1{
  transition: all .1s !important;
}
.ts-3{
  transition: all .3s  !important;
}
.ts-5{
  transition: all .5s !important;
}
/*line height*/
.lh-0{
  line-height: 0px !important;
}
/*cursor pointer*/
.cursor-pointer{
  cursor: pointer;
}
/*text liner gradient*/
.text-lin-grid-orange{
  background-image: linear-gradient(90deg , var(--dark-orange) ,var(--light-orange)) !important;
  background-clip: text !important;
  color: transparent;
  
}
/*list effects*/
.list-style-none{
  list-style: none;
}